body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;;
    font-family: "TT Lakes";
}

ul {
    margin: 0;
    padding: 0;
}

.left-menu {
    width: 320px;
    background-color: #FFFFFF;
    height: 100vh;
    -webkit-box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
            box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
    position: absolute;
    left: 0;
    top: 0;
}

.left-menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.header {
    padding-top: 18.73px;
}

.header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
}

.header__button-exit {
    background: none;
    border: 0;
    width: 40px;
    height: 40px;
    background-image: url("../assets/icons/exit.svg");
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 16.73px;
}

.header__button {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    cursor: pointer;
}

.header__button:hover {
    opacity: 0.8;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.header__button-search {
    background: none;
    border: 0;
    width: 40px;
    height: 40px;
    background-image: url("../assets/icons/search.svg");
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 78.73px;
}

.navigation {
    padding-top: 50px;
    margin-bottom: 32px;
}

.navigation__list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    margin-left: 24px;
    color:#1B1C21;
}

.navigation__list li {
    height: 24px;
}

.navigation__list li:not(:last-of-type) {
    margin-bottom: 32px;
}

.navigation__radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 0;
}

.navigation__label {
    cursor: pointer;
}

.navigation__label::before {
    content: url("../assets/icons/highlight.svg");
    position: absolute;
    left: 0px;
    -webkit-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
    opacity: 0;
}

.navigation__radio:checked + .navigation__label::before {
    opacity: 1;
    -webkit-filter: hue-rotate(0deg) !important;
            filter: hue-rotate(0deg) !important;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;  
}

.navigation__radio:checked + .navigation__label {
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    color: #1B1C21 !important;
}

.navigation__label:hover {
    color: #FF3E79;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.navigation__label:hover::before {
    opacity: 1;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;  
    -webkit-filter: hue-rotate(180deg);  
            filter: hue-rotate(180deg);
}

.footer {
    margin-bottom: 32px;
    margin-top: auto;
}

.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 24px;
    margin-bottom: auto;
}

.footer__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
}

.footer__button-call {
    background: none;
    border: 0;
    width: 40px;
    height: 40px;
    background-image: url("../assets/icons/call.svg");
    margin-right: 16px;
}

.footer__button-message {
    background: none;
    border: 0;
    width: 40px;
    height: 40px;
    background-image: url("../assets/icons/chat.svg");
    margin-right: 16px;
}

.footer__button-profile {
    background: none;
    border: 0;
    width: 40px;
    height: 40px;
    background-image: url("../assets/icons/profile.svg");
}

.footer__email {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin-bottom: 12px;
}

.footer__email a {
    color:#1B1C21;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.footer__email a:hover {
    color: #FF3E79;
}

.footer__phone-number {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: -0.6px;
    margin-bottom: 40px;
}

.footer__phone-number a {
    color:#1B1C21;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.footer__phone-number a:hover {
    color: #FF3E79;
}

.footer__lang-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__lang-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 0;
}

.footer__lang-label {
    margin-right: 7px;
    font-weight: 500;
    color:#1B1C21;
    cursor: pointer;
    -webkit-transition: color 0.2s, opacity 0.2s;
    -o-transition: color 0.2s, opacity 0.2s;
    transition: color 0.2s, opacity 0.2s;
}

.footer__lang-radio:checked + .footer__lang-label {
    opacity: 0.7;
    color:#1B1C21 !important;
}

.footer__lang-label:hover {
    color: #FF3E79;
}