* {
  margin: 0;
  padding: 0;
  padding: 0;
  background: none;
  border: 0;
  list-style-type: none;
}

body {
  font-family: "TT Lakes";
  margin: 0 auto;
  background-color: #f8f8f8;
  max-width: 1120px;
}

button {
  cursor: pointer;
  font-family: inherit;
}

@media screen and (min-width: 0px) {
  .header {
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 0 0 #d9fff5;
    box-shadow: 0 1px 0 0 #d9fff5;
  }

  .header__content {
    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 18.59px 16px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }

  .header__burger,
  .header__call,
  .header__chat,
  .header__profile,
  .header__repair,
  .header__status {
    width: 40px;
    height: 40px;
    background-color: #ff3e79;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header__content::before {
    content: "";
    height: 30px;
    border: 1px solid #eaeaea;
    border-radius: 1px;
    position: absolute;
    left: 84px;
    display: none;
  }

  .header__content::after {
    content: "";
    height: 30px;
    border: 1px solid #eaeaea;
    border-radius: 1px;
    position: absolute;
    right: 132px;
  }

  .header__item:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .header__burger {
    margin-right: 16px;
  }

  .header__call {
    margin-right: 16px;
  }

  .header__chat {
    margin-right: 16px;
  }

  .header__profile {
    margin-right: 42px;
  }

  .header__repair {
    margin-right: 16px;
  }

  .header__item:nth-child(3),
  .header__item:nth-child(4),
  .header__item:nth-child(5) {
    display: none;
  }

  .logo img {
    display: block;
  }

  .menu {
    width: auto;
    margin-top: 24px;
  }

  .menu__title {
    font-weight: 700;
    font-size: 28px;
    color: #1b1c21;
    margin-left: 16px;
    line-height: 40px;
    letter-spacing: -0.6px;
  }

  .menu__title::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 4px;
    background-color: #41f6d7;
    border-radius: 0 15px 15px 0;
    left: 0px;
  }

  .menu__points {
    overflow-x: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 24px;
    white-space: nowrap;
    margin-bottom: 24px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .menu__points::after {
    content: "";
    height: 40px;
    width: 24px;
    position: absolute;
    right: 0px;
    top: 176px;
    background: -o-linear-gradient(
      right,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      color-stop(16.84%, #f8f8f8),
      to(rgba(248, 248, 248, 0.0001))
    );
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }

  .menu__points::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .menu__point {
    font-size: 16px;
    font-weight: 500;
    color: #7e7e82;
    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 6px 14px;
    border: 2px solid transparent;
    display: block;
  }

  .menu__item:first-of-type {
    margin-left: 16px;
  }

  .menu__item:last-of-type {
    margin-right: 16px;
  }

  .menu__point:hover {
    background-color: #ffffff;
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }

  .section-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-block__content {
    font-weight: 400;
    margin: 0 16px 16px 16px;
    font-size: 14px;
    color: #1b1c21;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  .section-block__text {
    margin-bottom: 16px;
    height: 90px;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    row-gap: 16px;
  }

  .section-block__text::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1.2em;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #f8f8f8 100%);
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0)),
      to(#f8f8f8)
    );
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #f8f8f8 100%);
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      #f8f8f8 100%
    );
    pointer-events: none;
  }

  .section-block__button {
    background: none;
    border: 0;
    padding: 0px;
    margin-left: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }

  .section-block__button:hover {
    color: #ff3e79;
  }

  .section-block__button::before {
    content: url("../assets/icons/icon.svg");
    margin-right: 16px;
  }

  .section-block__image {
    width: 100%;
    height: 100%;
  }

  .section-block__image img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  body {
    max-width: 1366px;
  }

  .header__content {
    padding: 18.59px 24px;
  }

  .header__content::before {
    display: block;
  }

  .header__content::after {
    right: 142px;
  }

  .header__burger {
    margin-right: 42px;
  }

  .header__item:nth-child(3),
  .header__item:nth-child(4),
  .header__item:nth-child(5) {
    display: block;
  }

  .menu__title {
    margin-left: 24px;
  }

  .menu__points {
    margin: 32px 0;
  }

  .menu__item:first-of-type {
    margin-left: 24px;
  }

  .menu__item:last-of-type {
    margin-right: 24px;
  }

  .menu__points::after {
    top: 184px;
  }

  .section-block__content {
    margin-left: 24px;
  }

  .section-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .section-block__text {
    margin-bottom: 10px;
    height: 100px;
  }

  .section-block__image {
    margin-right: 40px;
    max-width: 450px;
  }

  .section-block__image img {
    border-radius: 6px;
  }
}

@media screen and (min-width: 1366px) {
  body {
    max-width: 1120px;
  }

  .header__content {
    padding: 0;
  }

  .header__content::before,
  .header__content::after {
    display: none;
  }

  .header__item:nth-child(-n + 5) {
    display: none;
  }

  .header__repair {
    position: absolute;
    top: 42px;
    right: 212px;
  }

  .header__repair::before {
    content: "Оставить заявку";
    position: absolute;
    left: -130px;
    width: 130px;
  }

  .header__status {
    position: absolute;
    top: 42px;
    right: 32px;
  }

  .header__status::before {
    content: "Статус ремонта";
    position: absolute;
    width: 125px;
    left: -125px;
  }

  .header__status::before,
  .header__repair::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    top: 0px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    color: #1b1c21;
    letter-spacing: -0.4px;
    font-size: 16px;
  }

  .menu {
    margin-top: 42px;
  }

  .menu__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .menu__title {
    margin-left: 32px;
    position: relative;
  }

  .menu__title::before {
    left: -32px;
  }

  .menu__points {
    overflow: visible;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 20px 32px 0 32px;
  }

  .menu__item:first-of-type,
  .menu__item:last-of-type {
    margin: 0;
  }

  .menu__point {
    margin-bottom: 12px;
  }

  .menu__points::after {
    display: none;
  }

  .section-block__content {
    margin: 10px 36px 0 34px;
    width: 490px;
  }

  .section-block__text {
    margin-bottom: 14px;
    height: 150px;
  }

  .section-block__image {
    margin-right: 28px;
    width: 540px;
  }
}