body {
  font-family: "TT Lakes";
  margin: 0 auto;
  background-color: #f8f8f8;
  max-width: 1120px;
}

* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 0px) {
  .header {
    height: 88px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 0 0 #d9fff5;
    box-shadow: 0 1px 0 0 #d9fff5;
  }

  .header__content {
    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 18.59px 16px;
  }

  .header__left-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }

  .header__burger {
    margin-right: 16px;
  }

  .header__right-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }

  .header__right-content::after {
    content: "";
    width: 0px;
    height: 30px;
    border: 1px solid #eaeaea;
    border-radius: 1px;
    position: absolute;
    right: 116px;
  }

  .header__button {
    padding: 0;
    background: none;
    border: 0;
    height: 40px;
    cursor: pointer;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  }

  .header__button:hover {
    opacity: 0.8;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  .header__logo {
    width: 96.55px;
    height: 50.81px;
  }

  .header__chat {
    display: none;
  }

  .header__profile {
    display: none;
  }

  .header__call {
    display: none;
  }

  .header__button:nth-last-child(1) {
    margin-left: 16px;
  }

  .menu {
    width: auto;
    margin-top: 24px;
  }

  .menu__title {
    font-weight: 700;
    font-size: 28px;
    color: #1b1c21;
    margin-left: 16px;
    line-height: 40px;
    letter-spacing: -0.6px;
  }

  .menu__buttons {
    display: none;
  }

  .menu__title::before {
    content: "";
    position: absolute;
    height: 40px;
    width: 4px;
    background-color: #41f6d7;
    border-radius: 0 15px 15px 0;
    left: 0px;
  }

  .menu__points {
    list-style-type: none;
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 24px;
    white-space: nowrap;
    height: 40px;
    margin-bottom: 24px;
  }

  .menu__points::after {
    content: "";
    height: 40px;
    width: 24px;
    position: absolute;
    right: 0px;
    top: 176px;
    background: -o-linear-gradient(
      right,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      color-stop(16.84%, #f8f8f8),
      to(rgba(248, 248, 248, 0.0001))
    );
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }

  .menu__points::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .menu__points a {
    font-size: 16px;
    font-weight: 500;
    color: #7e7e82;
    letter-spacing: -0.2px;
    text-decoration: none;
    padding: 6px 14px;
    border: 2px solid transparent;
  }

  .menu__points li:first-of-type {
    margin-left: 16px;
  }

  .menu__points li:last-of-type {
    margin-right: 16px;
  }

  .menu__points a:hover {
    background-color: #ffffff;
    border: 2px solid #b8ffec;
    border-radius: 6px;
  }

  .section-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-block__content {
    font-weight: 400;
    margin: 0 16px 16px 16px;
    font-size: 14px;
    color: #1b1c21;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  .section-block__text {
    margin-bottom: 16px;
    height: 90px;
    overflow: hidden;
    position: relative;
  }

  .section-block__text::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1.2em;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0)),
      to(#f8f8f8)
    );
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0), #f8f8f8 100%);
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      #f8f8f8 100%
    );
    pointer-events: none;
  }

  .section-block__paragraph {
    margin-bottom: 24px;
  }

  .section-block__button {
    background: none;
    border: 0;
    padding: 0px;
    margin-left: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
  }

  .section-block__button:hover {
    color: #ff3e79;
  }

  .section-block__button::before {
    content: url("../assets/icons/icon.svg");
    margin-right: 16px;
  }

  .section-block__image {
    width: 100%;
  }

  .section-block__image img {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  body {
    max-width: 1366px;
  }

  .header {
    height: 88px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 0 0 #d9fff5;
    box-shadow: 0 1px 0 0 #d9fff5;
  }

  .header__left-content::before {
    content: "";
    width: 0px;
    height: 30px;
    border: 1px solid #eaeaea;
    border-radius: 1px;
    position: absolute;
    left: 60px;
  }

  .header__burger {
    margin-right: 42px;
  }

  .header__chat {
    margin: 0 16px;
    display: block;
  }

  .header__profile {
    margin-right: 42px;
    display: block;
  }

  .header__call {
    display: block;
  }

  .menu__title {
    margin-left: 24px;
  }

  .menu__points {
    margin: 32px 0;
  }

  .menu__points li:first-of-type {
    margin-left: 24px;
  }

  .menu__points::after {
    top: 184px;
  }

  .section-block__content {
    margin-left: 24px;
  }

  .section-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .section-block__text {
    margin-bottom: 10px;
    height: 100px;
  }

  .section-block__image {
    margin-right: 40px;
    max-width: 450px;
  }

  .section-block__image img {
    border-radius: 6px;
  }
}

@media screen and (min-width: 1366px) {
  body {
    max-width: 1120px;
  }

  .header {
    display: none;
  }

  .menu {
    margin-top: 42px;
  }

  .menu__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .menu__title {
    margin-left: 32px;
    position: relative;
  }

  .menu__title::before {
    left: -32px;
  }

  .menu__points li:first-of-type {
    margin-left: 32px;
  }

  .menu__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 32px;
  }

  .menu__button {
    padding: 0;
    background: none;
    border: 0;
    height: 40px;
    width: auto;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  }

  .menu__button:hover {
    opacity: 0.8;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  .menu__button:nth-last-of-type(1) {
    margin-left: 32px;
  }

  .button__label {
    color: #1b1c21;
    font-size: 16px;
    font-family: "TT Lakes";
    font-weight: 500;
    letter-spacing: -0.4px;
    margin-right: 8px;
  }

  .menu__points {
    overflow: visible;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: auto;
    margin: 20px 32px 0 32px;
  }

  .menu__points li:first-of-type {
    margin-left: 0;
  }

  .menu__points li:last-of-type {
    margin-right: 0;
  }

  .menu__points::after {
    display: none;
  }

  .menu__points li {
    margin-bottom: 22px;
  }

  .section-block__content {
    margin: 10px 36px 0 34px;
    width: 490px;
  }

  .section-block__text {
    margin-bottom: 14px;
    height: 150px;
  }

  .section-block__image {
    margin-right: 28px;
    width: 540px;
  }
}