* {
  margin: 0;
  padding: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "TT Lakes";
  background-color: #f8f8f8;
}

button {
  cursor: pointer;
  font-family: inherit;
  background: none;
  border: 0;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 0px) {
  .title {
    padding: 16px;
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      from(#ffffff),
      color-stop(98.61%, #f8f8f8)
    );
    background: -o-linear-gradient(right, #ffffff 0%, #f8f8f8 98.61%);
    background: linear-gradient(270deg, #ffffff 0%, #f8f8f8 98.61%);
    border-top: 1px solid #d9fff5;
  }

  .title__caption {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #7e7e82;
    letter-spacing: -0.2px;
  }

  .brands__swiper {
    width: 100vw;
    height: 154px;
  }

  .brands__swiper .brands__slide {
    margin-top: 16px;
    width: 240px;
    height: 72px;
  }

  .brands__swiper .brands__slide:nth-last-child(-n + 2) {
    display: none;
  }

  .brands__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    width: 240px;
    height: 72px;
    padding: 0 16px;
  }

  .brands__lenovo {
    width: 108px;
    height: 32px;
  }

  .brands__samsung {
    width: 116px;
    height: 38.52px;
  }

  .brands__apple {
    width: 44px;
    height: 44px;
  }

  .brands__viewsonic {
    width: 128px;
    height: 21px;
  }

  .brands__bosch {
    width: 128px;
    height: 28.6px;
  }

  .brands__hp {
    width: 52px;
    height: 52px;
  }

  .brands__acer {
    width: 94px;
    height: 24px;
  }

  .brands__sony {
    width: 128px;
    height: 25.6px;
  }

  .brands__image {
    width: 100%;
    height: 100%;
  }

  .slide-button {
    width: 40px;
    height: 40px;
  }

  .brands__swiper .swiper-pagination {
    margin-bottom: 18px;
  }

  .brands__swiper .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 6px;
    background-color: #b5b6bc;
  }

  .brands__button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .title {
    padding-left: 24px;
  }

  .brands__swiper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
  }

  .brands__swiper .brands__wrapper {
    width: 768px;
    margin: 24px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 16px 24px;
    max-height: 250px;
    -webkit-transition: max-height 0.3s ease, height 0.3s ease;
    -o-transition: max-height 0.3s ease, height 0.3s ease;
    transition: max-height 0.3s ease, height 0.3s ease;
  }

  .brands__swiper .brands__wrapper--hidden {
    height: 160px;
    overflow: hidden;
    max-height: 160px;
  }

  .brands__swiper .brands__slide {
    margin: 0;
    width: auto;
  }

  .brands__item {
    width: 224px;
  }

  .brands__button {
    display: block;
    margin: 0 0 34px 57px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    position: relative;
  }

  .brands__button::before {
    left: -24px;
    position: absolute;
    content: url("../assets/icons/icon.svg");
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }

  .brands__button--open::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

@media screen and (min-width: 1366px) {
  .brands {
    width: 1120px;
  }

  .title {
    padding-left: 32px;
  }

  .brands__swiper .brands__wrapper {
    width: auto;
    gap: 16px 32px;
    margin: 24px 32px;
  }

  .brands__item {
    width: 240px;
  }

  .brands__swiper .swiper-slide:nth-last-child(-n + 2) {
    display: block;
  }

  .brands__button {
    margin: 0 0 34px 63px;
  }
}